main{
    font-size: 20px;
}

.swiper-container {
    width: 500px;
    height: 500px;
}

.shounen{
    padding: 0 0 20px 0;
    display: flex;
    flex-direction: row;
    columns: 2;
    column-rule: 1px solid #cdcdcd;
    column-gap: 2em;  
}

.shounen-shoukai{
    float: left;
    flex-direction: row;
}

.anoko{
    padding: 0 0 20px 0;
    display: flex;
    flex-direction: row;
    columns: 2;
    column-rule: 1px solid #cdcdcd;
    column-gap: 2em;
}

.anoko-shoukai{
    float: left;
}

.tsurukichi{
    display: flex;
    flex-direction: row;
    columns: 2;
    column-rule: 1px solid #cdcdcd;
    column-gap: 2em;  
}

.tsurukichi-shoukai{
    float: left;
}

@media screen and (max-width: 480px) {
    .swiper-container {
        width: 100%;
        height: auto;
    }

    .shounen{
        padding: 0 0 0 0;
        flex-direction: column;
    }

    .anoko{
        padding: 0 0 0 0;
        display: flex;
        flex-direction: column;
    }

    .anoko-shoukai{
        order: 2;
    }

    .anoko .swiper-container{
        order: 1;
    }

    .tsurukichi{
        flex-direction: column;
    }

}