main{
    font-size: 20px;
}

.swiper-container {
    width: 500px;
    height: 500px;
}

.line{
    margin: 10px 0 20px 0;
    padding: 10px 0 10px 0;
    display: block;
    border: 0;
    width: 100%;
    height: 50px;
    background: url("photo/shoot/item.png") repeat-x top center;
    background-size: 3%;
}

.shounen{
    padding: 0 0 20px 0;
    display: flex;
    flex-direction: row;
    columns: 2;
    column-rule: 1px solid #cdcdcd;
    column-gap: 2em;  
}
.shounen-shoukai{
    float: left;
    flex-direction: row;
}
.anoko{
    padding: 0 0 20px 0;
    display: flex;
    flex-direction: row;
    columns: 2;
    column-rule: 1px solid #cdcdcd;
    column-gap: 2em;
}
.anoko-shoukai{
    float: left;
}
.tsurukichi{
    display: flex;
    flex-direction: row;
    columns: 2;
    column-rule: 1px solid #cdcdcd;
    column-gap: 2em;  
}
.tsurukichi-shoukai{
    float: left;
}