.title{
    text-align: center;
}

.title img{
    width: 50%;
    height: auto;
}

.Play{
    text-align: center;
}

.Play img{
    width: 50%;
    height: auto;
}

.Play img:hover{
    cursor: pointer;
}

.shoukai1 {
    margin: 10px 0px 10px 0px;
    flex-direction: row;
    columns: 2;
    column-rule: 1px solid #cdcdcd;
    column-gap: 2em;
}

.shoukai2{
    margin: 10px 0px 10px 0px;
    flex-direction: row;
    columns: 2;
    column-rule: 1px solid #cdcdcd;
    column-gap: 2em;   
}

.shoukai-bun1{
    float: left;
    flex-direction: row;
    font-size: 25px;
}

.shoukai-bun2{
    float: left;
    flex-direction: row;
    font-size: 25px;
}

.sousahouhou{
    margin: 10px 0px 10px 0px;
}


.movie{
    text-align: center;
    height: 405px;
    padding: 0 20% 0 20%;
}

.swiper-container {
    width: 720px;
    height: 405px;
}

.download-container{
    margin: 20px 0 20px 0;
    padding: 20px 100px 20px 100px;
    background-image: url(photo/shoot/spec_2P.png);
    background-size: 100% 100%;
    position: relative;
    display: flex;
	border-radius: 12px;
	overflow: hidden;
	cursor: pointer;
}

.download-container img {
    display: inline-block;
    padding: 20px 0 0 0;
    margin: 0 0 0 1%;
    position: absolute;
    width: 5%;
    height: 100%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	-webkit-transition: .4s ease-in-out;
	transition: .4s ease-in-out;
}
.download-container:hover img:nth-of-type(2) {
	opacity: 0;
}

.download-container a {
    display: inline-block;
    margin: 0 0 0 5%;
    color: white;
}

.directer{
    text-align: right;
}

/* モーダルCSS */
.modalArea {
    display: none;
    position: fixed;
    z-index: 15; /*サイトによってここの数値は調整 */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .modalBg {
    width: 100%;
    height: 100%;
    background-color: rgba(30,30,30,0.9);
  }
  
  .modalWrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    width: 100%;
    height: 536.25px;
    max-width: 900px;
    padding: 0;
    background-color: #fff;
  }
  
  .closeModal {
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    cursor: pointer;
  }
  
  /* 以下ボタンスタイル */
  button {
    padding: 10px;
    background-color: #fff;
    border: 1px solid #282828;
    border-radius: 2px;
    cursor: pointer;
  }
  
  #openModal {
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
  }

  .game{
    text-align: center; 
    margin: auto; 
    width: 900px; 
    height: 506.25px; 
    margin-top:30px; 
    border: 5px double #333333;
}


@media screen and (max-width: 1100px) {
    .title img{
        width: 100%;
    }

    .Play{
        display: none;
    }

    .shoukai1 {
        flex-direction: column;
        columns: 1;
    }
    
    .shoukai2{
        margin: 10px 0px 20px 0px;
        flex-direction: column;
        display: flex;
        columns: 1;
    }
    
    .shoukai2 .shoukai-bun2{
        order: 2;
    }

    .shoukai2 .image{
        order: 1;
    }

    .shoukai-bun1{
        flex-direction: column;
    }
    
    .shoukai-bun2{
        flex-direction: column;
    }

    iframe{
        width: 100%;
        height: 100%;
    }

    .movie{
        width: 100%;
        height: 400px;
        padding: 0 0 0 0;
    }

    .download-container{
        padding: 20px 20px 20px 20px;
    }
    
    .download-container img {
        display: none;
    }

    .swiper-container {
        width: 100%;
        height: auto;
        margin: 10px 0 10px 0;
    }
    
}
