.member{
    flex-direction: column;
    display: flex;
}

.now-member{
    flex-direction: row;
    margin-bottom: 50px;
}

.past-member{
    flex-direction: row;
    border-top: dotted 2px;
    margin-bottom: 50px;
}

.member-container{
    border: 1px solid;
    width: 20%;
    float: left;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
    padding: 0.5%;
}

.name{
    font-size: 25px;
}

hr{
    background-color: black;
  }


