.member{
    flex-direction: column;
    display: flex;
}

.now-member{
    flex-direction: row;
    margin: 0 0 50px 0;
}

.past-member{
    margin: 0 0 50px 0;
    padding: 20px 0 0 0;
    flex-direction: row;
}

.member-container{
    border: 1px solid;
    width: 20%;
    float: left;
    margin: 10px 10px 0 10px;
    padding: 0.5%;
}

.name{
    font-size: 25px;
}

hr{
    background-color: black;
  }


