.title{
    text-align: center;
}

.midashi{
    font-size: 30px;
    background-image: url(photo/shoot/button_menu.png);
    background-size: 100% 100%;
}

.shoukai1 {
    margin: 10px 0px 10px 0px;
    flex-direction: row;
/*     display: flex; */
    columns: 2;
    column-rule: 1px solid #cdcdcd;
    column-gap: 2em;
}

.shoukai2{
    margin: 10px 0px 10px 0px;
    flex-direction: row;
    /*     display: flex; */
    columns: 2;
    column-rule: 1px solid #cdcdcd;
    column-gap: 2em;   
}

img[src$="photo/shootphoto.png"]{
    text-align: left;
    margin: 0% 5px 0% 5px;
    float: left;
    flex-direction: row;
}

.shoukai-bun1{
    float: left;
    flex-direction: row;
}

.shoukai-bun2{
    float: left;
    flex-direction: row;
}

.sousahouhou{
    margin: 10px 0px 10px 0px;
}


.movie{
    text-align: center;
}

.swiper-container {
    width: 600px;
    height: 300px;
}