main{
    font-size: 20px;
}
.story1{
    text-align: center;
}
.story2{
    text-align: center;
}
.story3{
    text-align: center;
    padding: 0 0 80px 0;
}
.left{
    margin-left: 10%;
}